body {
  font-family: $font-primary;
  box-sizing: border-box;
}

// Pushes 'main' to the right of the nav
.main {
  margin-left: 200px; /* Same as the width of the sidenav */
}

// h1-h6 TAGS
h1 {
  font-size: 60px;
  color: rgb(66, 66, 66);
}

h2 {
  font-size:30px;
}