.form-card{
    margin-left: auto;
    margin-right:auto;
    width: 100%;
    padding: 1rem;
    .form-label{
        padding:1.2vh;
    }
}

.form-label{
    font-size: 18px;
    font-weight: bold;
}

//====== FORM BUTTON ======
.x{
    margin-right: 5px;
}
