// =====SIDE NAV=====
.sidenav {
  height: 100%;
  width: 200px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: rgb(66, 66, 66);
  overflow-x: hidden;
  li{
    padding: 30px 10px 30px 10px;
    border-bottom: white 1px solid;
    font-size: 20px;
    font-family: $font-secondary;
    .navlink {
      text-decoration: none;
      color: rgb(228, 228, 228);
      padding-left: 10px;
    }
  }
  li:hover{
    background-color: $blue;
    transition: 350ms;
      .navlink{
        color: $black;
      }
  }
  .icons {
    height: 50px;
  }
}

// =====DASHBOARD=====
.dashboard{
  section{
    margin: 1% 0px 0px 1%;
    display: inline-block;
    border-radius: 10px;
    padding: 10px;
    height: 300px;
    vertical-align: text-top;
  }
  // -----DASHBOARD BACKGROUND IMAGES FOR HOVER-----
  .banner:hover{
    background-image:url("../assets/robot-banner.jpeg");
    background-size: cover;
    background-position: center;
    background-origin: content-box;
    transition: all 500ms;
  }
  .guide:hover{
    background-image:url("../assets/robot-banner.jpeg");
    background-size: cover;
    background-position: center;
    background-origin: content-box;
    transition: all 500ms;
  }
  .results:hover{
    background-image:url("../assets/results-banner.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;   
    transition: all 500ms;
  }
  .questions:hover{
    background-image:url("../assets/robot-banner.jpeg");
    background-size: cover;
    background-position: center;
    background-origin: content-box;
    transition: all 500ms;
  }
  .admin:hover{
    background-image:url("../assets/robot-banner.jpeg");
    background-size: cover;
    background-position: center;
    background-origin: content-box;
    transition: all 500ms;
  }
  .about:hover{
    background-image:url("../assets/us.jpeg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    transition: all 500ms;
  }
  // -----DASHBOARD CARD TYPES-----
  // SMALL
  .dash-s{
    background-color: rgb(155,190,255);
    width: 38%;
  }     
  .dash-s:hover{
    opacity: 0.7;
    transition: 1000ms;
  }
  // MEDIUM
  .dash-m{
    background-color: rgb(165,220,105);
    width: 58%;
  }
  .dash-m:hover{
    opacity: 0.7;
    transition: 1000ms;
  }
  // LARGE
  .dash-lg{
    background-color: rgb(120,210,250);
    width: 97%;
  }
  .dash-lg:hover{
    opacity: 0.7;
    transition: 1000ms;
  } 
  .navlink{
    text-decoration: none;
    color: rgb(66, 66, 66);
  }  
  .navlink:hover{
    transition: 350ms;
    font-style: italic;
    color: $black;
  }  
}

// =====LOGOUT BUTTON=====
.logout-btn{
  border: none;
  background: none;
	color: rgb(228, 228, 228);
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
  outline: inherit;
  margin-left: 12px;
}
.logout-btn:hover{
  border: none;
  background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
  outline: inherit;
  margin-left: 12px;
}

// =====GUIDE=====
.guide-wrapper{
  section{
    margin: 1% 0px 0px 1%;
    display: inline-block;
    border-radius: 10px;
    padding: 10px;
    height: 300px;
    vertical-align: text-top;
  }
  .guide-left{
    width: 63%;
  }
  .guide-right{
    width: 33%;
    background-color: grey;
  }
  .red{
    background-color: $red;
  }
  .yellow{
    background-color: $yellow;
  }
  .green{
    background-color: $green;
  }
  .blue{
    background-color: $blue;
  }
  .purple{
    background-color: $purple;
  }
}

// =====ABOUT US CARD FLIP=====
.about-us-wrapper{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.lydia{
  background-image: url('../assets/lydia.jpg');
  background-size: cover;
  border-radius: 5px;
}

.audrey{
  background-image: url('../assets/audrey.jpg');
  background-size: cover;
  border-radius: 5px;
}

.ellis{
  background-image: url('../assets/ellis.jpg');
  background-size: cover;
  border-radius: 5px;
}

.fizzo{
  background-image: url('../assets/fizzo.jpg');
  background-size: cover;
  border-radius: 5px;
}

.center{
  display: flex;
  justify-content: center;
}
.about-card-container {
  height: 400px;
  width: 400px;
  margin: 30px;
  perspective: 600;
  position: relative;
  justify-content: center;
  display: flex;
}
.about-img{
  height: 390px;
  border-radius: 10px;
}

.about-card {
  height: 100%;
  position: absolute;
  transform-style: preserve-3d;
  transition: all 1s ease-in-out;
  width: 100%;
  border-radius: 10px;
  border: thick $black solid;
  display: flex;
}
.about-card:hover {
  transform: rotateY(180deg);
}
.about-card .side {
  backface-visibility: hidden;
  height: 100%;
  position: absolute;
  width: 100%;
}
.about-card .back {
  transform: rotateY(180deg);
  background-color: $purple;
}
.connect {
  margin-top: 140px;
  margin-left: 10px;
}
.authors-social{
  height: 30px;
}

// =====USER MODAL=====
.modal-header {
  font-family: $font-secondary;
  font-size: 30px;
  background-color: $blue;

  button.close {
    border: none;
    background-color: $blue;
  }
}

.modal-form {
  font-family: $font-secondary;

  label.form-label {
    font-size: 18px;
    padding-bottom: 10px;
  }
}

.modal-submit-btn {
  margin-top: 10px;
  background-color: white;
  border-color: $purple;
  color: $black;
}